<h2><%= @displayed_date ? @displayed_date.strftime("%B %Y") : "Calendar" %></h2>

<div class="calendar-navigation">
  <%= link_to "Previous Month", calendar_path(year: @displayed_date.prev_month.year, month: @displayed_date.prev_month.month), class: "btn prev" %>
  <%= link_to "Next Month", calendar_path(year: @displayed_date.next_month.year, month: @displayed_date.next_month.month), class: "btn next" %>
  <%= button_to "Clear All Tasks", clear_tasks_path, method: :delete, data: { confirm: "Are you sure you want to delete ALL tasks?" }, class: "btn clear-tasks" %>
</div>

<div class="calendar_container">
  <table>
    <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <% (@start_day..@end_day).to_a.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <td class="<%= 'other-month' if day.month != @displayed_date.month %> <%= 'today' if day == Date.today %>">
              <%= link_to day.day, task_date_path(date: day.strftime('%Y-%m-%d')), class: 'date-link' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
