<!DOCTYPE html>
<html>
<head>
  <title>TaskHive</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <h1>TaskHive</h1> 
  </header>
    <nav>
      <ul>
        <% if authenticated? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Calendar', calendar_path %></li>
          <li><%= link_to 'Log Out', login_path,  method: :delete if authenticated? %></li>
        <% end %>
      </ul>
    </nav>

  <div class="container">
    <h2>Welcome to TaskHive</h2>
    <p>This is the home page. You can navigate to the dashboard, calendar, or login page using the links above.</p>
  </div>

  <footer>
    <p>&copy; 2025 TaskHive. All rights reserved.</p>
  </footer>
</body>
</html>